.poster-container {
    transition: 0.2s linear;
    width: 100%;
    /* height: 345px; */
    /*margin-bottom: 5px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border-radius: 7px;  */
    list-style: none;
}

.poster-container li {
    flex: 1 1 20px;
    margin-right: 10px;
}

.poster-container .image-container {
    width: 250px;
    height: 150px;
    background: #262626;
    background: linear-gradient(312deg, #262626 0%, #333333 54%, #2a2a2a 100%);
    object-fit: cover;
    /* max-width: 230px;
    height: 100%;
    border-radius: 8px; */
    cursor: pointer;
}

.top10-container {
    transition: 0.2s linear;
    width: 100%;
    /* margin: 10px; */
    /* height: 345px; */
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border-radius: 7px;  */
    list-style: none;
}

.top10-container li {
    flex: 1 1 20px;
    margin-right: 10px;
}

.top10-container .rank-poster {
    width: 250px;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.top10-container .rank {
    float: left;
    /*margin: 50%, 0, 0, 60px;*/
    font-size: 220px;
    font-weight: 600;
    text-align: right;
    line-height: 1;
    color: #000;
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    font-family: 'NetflixSans-Bold', sans-serif;

    width: 110px;
    height: 100%;
    z-index: 4;
    position: absolute;
}

.top10-container .image-container {
    float: right;
    width: 140px;
    height: 100%;
    border-radius: 8px;
    z-index: 5;
    cursor: pointer;

}

@media screen and (max-width: 1023px) {
    .poster-container {
        height: 270px;
        border-radius: 7px; 
    }

    .poster-container .image-container {
        max-width: 180px;
        height: 100%;
        border-radius: 7px; 
        object-fit: contain;
    }

    .top10-container {
        height: 270px;
    }

    .top10-container .rank-poster {
        width: 250px;
    }
    .top10-container .rank {
        float: left;
        width: 60px;
        height: 100%;
        font-size: 180px;
        font-weight: 800;
        top: 85px;
    }

    .top10-container .image-container {
        float: right;
        width: 180px;
        height: 100%;
        border-radius: 8px;
    }
}

@media screen and (max-width: 480px) {
    .poster-container {
        height: 240px;
        border-radius: 7px; 
    }
    .poster-container .image-container {
        max-width: 160px;
        height: 100%;
        border-radius: 7px; 
        object-fit: contain;
    }
    .top10-container {
        height: 270px;
    }

    .top10-container .rank-poster {
        width: 220px;
    }
    .top10-container .rank {
        float: left;
        width: 60px;
        height: 100%;
        font-size: 155px;
        font-weight: 800;
        left: 3px;
        top: 80px;
    }

    .top10-container .image-container {
        float: right;
        width: 160px;
        height: 100%;
        border-radius: 8px;
    }

}
