.poster-container {
    transition: 0.2s linear;
    width: 100%;
    height: 345px;
    /*margin-bottom: 5px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border-radius: 7px;  */
    list-style: none;
}

.poster-container li {
    flex: 1 1 20px;
    margin-right: 20px;
}

.poster-container .image-container {
    max-width: 230px;
    height: 100%;
    border-radius: 8px;
}

.top10-container {
    transition: 0.2s linear;
    width: 100%;
    /* margin: 10px; */
    height: 345px;
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    /* border-radius: 7px;  */
    list-style: none;
}

.top10-container li {
    flex: 1 1 20px;
    margin-right: 20px;
}

.top10-container .rank-poster {
    width: 320px;
    display: inline-block;
    border-radius: 8px;
    position: relative;
}

.top10-container .rank {
    float: left;
    /*margin: 50%, 0, 0, 60px;*/
    font-size: 230px;
    font-weight: 800;
    text-align: right;
    color: #000;
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    font-family: 'NetflixSans-Bold', sans-serif;

    width: 90px;
    height: 100%;

    z-index: 5;
    position: absolute;
    left: 5px;
    top: 100px;
}

.top10-container .image-container {
    float: right;
    width: 230px;
    height: 100%;
    border-radius: 8px;
    z-index: 4;
}

@media screen and (max-width: 768px) {
    .poster-container {
        height: 270px;
    }

    .poster-container .image-container {
        max-width: 180px;
        height: 100%;
    }

    .top10-container {
        height: 270px;
    }

    .top10-container .rank-poster {
        width: 250px;
    }
    .top10-container .rank {
        float: left;
        width: 60px;
        height: 100%;
        font-size: 180px;
        font-weight: 800;
        top: 85px;
    }

    .top10-container .image-container {
        float: right;
        width: 180px;
        height: 100%;
        border-radius: 8px;
    }
}

@media screen and (max-width: 480px) {
    .poster-container {
        height: 240px;
    }
    .poster-container .image-container {
        max-width: 160px;
    }
    .top10-container {
        height: 270px;
    }

    .top10-container .rank-poster {
        width: 220px;
    }
    .top10-container .rank {
        float: left;
        width: 60px;
        height: 100%;
        font-size: 155px;
        font-weight: 800;
        left: 3px;
        top: 80px;
    }

    .top10-container .image-container {
        float: right;
        width: 160px;
        height: 100%;
        border-radius: 8px;
    }

    .top10-container .image-container {
        float: right;
        max-width: 160px;
        height: 100%;
    }
}
