/*-------------------------contents------------------------------------*/
.contents img {
    border-radius: 8px;
    max-width: 100%;
    z-index: 83;
}

.contents .top-image {
    border-radius: 8px;
    width: 100%;
    height: 350px;
    z-index: 84;
    background-size: 100%;
    position: relative;
}

.top-image .detail-description {
    position: absolute;
    top: 60%;
    left: 5%;
}

.detail-description .detail-name {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.detail-description .share i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.detail-contents .middle-introduce {
    display: inline-block;
    width: 100%;
    height: 20%;
}
.middle-introduce .left {
    float: left;
    width: 65%;
    padding: 0% 5%;
    font-weight: bolder;
    font-size: 0.8rem;
    vertical-align: center;
}

.middle-introduce .left span {
    color: forestgreen;
    font-weight: bold;
    font-size: 0.9rem;
}

.middle-introduce .left i {
    font-size: 1rem;
}

.middle-introduce .right {
    float: right;
    width: 35%;
    padding: 0% 3%;
    background-color: palegoldenrod;
}

/*-------------------------location------------------------------------*/

.location .map {
    margin-top: 20px;
    width: 100%;
    height: 600px;
}

.location .parking {
    font-size: 2rem;
    color: crimson;
}
/*-------------------------board------------------------------------*/
.board .input-board {
    width: 100%;
    height: 200px;
    font-size: 0.8rem;
    /*display: flexbox;*/
}

.input-board label,
.input-board button {
    margin: 10px 20px 10px 0;
    border-radius: 7px;
    height: 1.2rem;
    width: 5rem;
    font-size: 0.8rem;
    text-align: center;
}

.input-board p {
    margin: 10px 20px 10px 20px;
}

.input-board .input-btn {
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    padding-top: 0.2rem;
}

.input-board .input-btn:hover {
    background-color: #cccccc;
}

.input-board .input-box {
    display: inline-flex;
    margin-bottom: 20px;
}

.input-box .input-name {
    width: 9rem;
    border-radius: 7px;
}

.input-box .input-comment {
    margin: 0 10%;
    width: 80%;
    height: auto;
    border-radius: 7px;
}
/*-------------------------image------------------------------------*/

.detail .detail-image img {
    border-radius: 8px;
    max-width: 100%;
}

/*-------------------------actor------------------------------------*/
