:root {
    --color-level1: #1C1C1C;
    --color-level2: #585858;
    --color-level3: #a4a4a4;
    --color-level4: #d8d8d8;
    --color-level5: #fafafa;
}
.container.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container.modal::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.container .detail-modal {
    display: none;
}

.container .detail-modal.on {
    /* display: grid;
    grid-template-columns: 15% 70% 15%; */
    display: flex;
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;*/
    bottom: 0;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0, 0.381);
    z-index: 80;
}

.container .detail-modal.on::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.detail-modal .detail {
    border-radius: 8px;
    background-color: var(--color-level1);
    z-index: 81;
    width: 800px;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    height: auto;
}

.detail .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 95;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.detail .contents {
    width: 100%;
    display: block;
}

.detail .location,
.detail .board {
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
    display: block;
}

.detail .actor {
    padding: 10px;
    width: 100%;
    display: block;
}
@media screen and (max-width: 900px) {
    .detail-modal .detail {
        border-radius: 8px;
        background-color: var(--color-level1);
        z-index: 81;
        width: 600px;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .detail .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('/public/images/img/iconsX50.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 95;
        cursor: pointer;
    }
    .detail-modal .detail {
        border-radius: 0;
        /*background-color: rgba(36, 36, 36, 1);*/
        background-color: blue;
        z-index: 81;
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
