:root {
    --color-level1: #1c1c1c;
    --color-level2: #585858;
    --color-level3: #a4a4a4;
    --color-level4: #d8d8d8;
    --color-level5: #fafafa;
}
.container.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container.modal::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.container .detail-modal {
    display: none;
}

.container .detail-modal.on {
    /* display: grid;
    grid-template-columns: 15% 70% 15%; */
    display: flex;
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;*/
    bottom: 0;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0, 0.381);
    z-index: 80;
}

.container .detail-modal.on::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.detail-modal .detail {
    border-radius: 8px;
    background-color: var(--color-level1);
    z-index: 81;
    width: 1000px;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    height: auto;
    overflow-y: auto;
}

.detail .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-right: 0;
    z-index: 99;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.modal-close .cross_diagonal {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="white" stroke-width="5px"/></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="white" stroke-width="5px"/></svg>');
}

.detail .contents {
    width: 100%;
    display: block;
}

.detail .location,
.detail .board,
.detail .actor {
    padding: 3rem;
    width: 100%;
    display: block;
    overflow-y: auto;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .detail .modal-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 70px;
        height: 70px;
        z-index: 99;
        cursor: pointer;
    }
    .detail-modal .detail {
        border-radius: 8px;
        background-color: var(--color-level1);
        z-index: 81;
        width: 800px;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 850px) {
    .detail .modal-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 60px;
        height: 60px;
        z-index: 99;
        cursor: pointer;
    }
    .detail-modal .detail {
        border-radius: 8px;
        background-color: var(--color-level1);
        z-index: 81;
        width: 600px;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 650px) {
    .detail .modal-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 50px;
        height: 50px;
        z-index: 99;
        cursor: pointer;
    }
    .detail-modal .detail {
        border-radius: 8px;
        background-color: var(--color-level1);
        z-index: 81;
        width: 520px;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 480px) {
    .detail .modal-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        z-index: 99;
        cursor: pointer;
    }
    .detail-modal .detail {
        border-radius: 0;
        background-color: rgba(36, 36, 36, 1);
        /* background-color: blue; */
        z-index: 81;
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        overflow-y: auto;
    }
}
